[submodule "bankstatistics"]
	path = bankstatistics
	url = https://github.com/deckmar/bankstatistics.git
[submodule "bankstat-generator"]
	path = bankstat-generator
	url = F:\\Google Drive\\MyProjects\\bankstat-generator
