[submodule "bankstatistics"]
	path = bankstatistics
	url = https://github.com/deckmar/bankstatistics.git
[submodule "bankstat-generator"]
	path = bankstat-generator
url=https://github.com/deckmar/bankstat-generator.git
[submodule "examen"]
	path = examen
	url = F:\\GoogleDrive\\MyProjects\\examen2
